.container {
    width: 68px;
    height: 68px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;    
}

.container:hover {
    transform: scale(1.05);
    transition: all 0.2s;    
}

.disabled {
    transform: scale(0.9);
    opacity: 0.3;
    cursor: default;    
}

.disabled:hover {
    transform: scale(0.9);
    opacity: 0.3;    
}

.containerBackground{
    position: absolute;
    z-index: -1;
}

.pictogramContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pictogram{
    background-color: darkred;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.75em;
    font-weight: 600;
    font-family: Roboto;
}